<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="text" name="ma_sp" placeholder="Nhap ma san pham" />
        <input type="text" name="ten_sp" placeholder="Nhap ten san pham" />
        <input type="submit" value="Them moi san pham" />
    </form>
    <table>
        <tr>
            <th>Ma san pham</th>
            <th>Ten san pham</th>        
        </tr>
        <% for(let i = 0; i < data.length; i++){ %>
            <tr>
                <td><%=data[i].ma_sp%></td>
                <td><%=data[i].ten_sp%></td>
            </tr>   
        <% } %>
    </table>
</body>
</html>